
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <h1>
        Item Master
     </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Item Master</li>
      </ol>
    </div>
    <!-- Main content -->
    <section class="content"> 
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-success">
           
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group" >
                  <label for="itemName">Item Name</label>
                  <input 
                        class="form-control" 
                        id="itemName" 
                        placeholder="Enter Item Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="drawingNo">Drawing No</label>
                  <input type="text" class="form-control" id="drawingNo" placeholder="Enter Drawing Number">
                </div>  
                <div class="form-group">
                        <label for="grpId">Item Group Id</label>
                        <input type="text" class="form-control" id="grpId" placeholder="Enter Item Group Id">
               </div> 
               <div class="form-group">
                     <label for="catId">Item Category Id</label>
                     <input type="text" class="form-control" id="catId" placeholder="Enter Item Category Id">
               </div> 
               <div class="form-group">
                      <label for="subId">Item Sub-category Id</label>
                      <input type="text" class="form-control" id="subId" placeholder="Enter Item Sub-category Id">
              </div> 
               <div class="form-group">
                    <label for="unit">Unit</label>
                      <input type="text" class="form-control" id="unit" placeholder="Enter Unit">
             </div> 
            <div class="form-group">
                     <label for="refUnit">Reference Unit</label>
                     <input type="text" class="form-control" id="refUnit" placeholder="Enter Reference Unit">
             </div> 
             <div class="form-group">
                     <label for="materialCost">Material Cost</label>
                     <input type="text" class="form-control" id="materialCost" placeholder="Enter Material Cost">
            </div> 
            <div class="form-group">
                     <label for="hsnNo">HSN No</label>
                     <input type="text" class="form-control" id="hsnNo" placeholder="Enter HSN Number">
             </div>              
                <div class="form-group">
                    <label>Minimum Level</label>
                    <select class="form-control">
                      <option> 1</option>
                      <option> 2</option>
                      <option> 3</option>
                      <option> 4</option>
                      <option> 5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Maximum Level</label>
                    <select class="form-control">
                      <option> 1</option>
                      <option> 2</option>
                      <option> 3</option>
                      <option> 4</option>
                      <option> 5</option>
                    </select>
                  </div>                                              
              
            
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Cancel</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
         

        </div>
        <!--/.col (left) -->
        <!-- right column -->
        
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>

    <!-- /.content -->