.zippy {

    border:1px solid #ccc;
    border-radius:4px;
}
.zippy-heading{
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
}
.zippy-body {
    padding: 20px;
    cursor: pointer;
}

.expanded {
    background: lightblue;
}

.glyphicon {
    float: right;
}