<h1>List of items</h1>
<p>
	<a class="btn btn-primary" routerLink="/items">Add item</a>
</p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Item Name</th>
			<th>Item No</th>
			<th>Item Description</th>
			<th>Item Group</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let list of items">
		<td>		
		<a [routerLink]="['/items',list.id]" (click)="Edit(item)"> 
			{{ list.itemName }}	
		</a>  
		</td>  
			<td>{{ list.itemNo }}</td>
			<td>{{ list.itemDescription}}</td>
			<td>{{ list.itemGroup }}</td>
			<!--<td>
				<a (click)="updateItem(item)">
				 Update
				</a> 
			</td> -->
			<!--<td>
                <i (click)="deleteItem(item)" class="glyphicon glyphicon-remove clickable"></i>
			</td> -->
		</tr>
	</tbody>
</table>





<!--
<a [routerLink]="['/users', user.id]">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
			</td>
			<td>
                <i (click)="deleteUser(user)" class="glyphicon glyphicon-remove clickable"></i>
            </td> -->