<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>Angular</h1> 
<authors></authors> -->
<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->
<!--event could be anything we pass while raising an event here event is going to be a simple boolean value -->
 <!-- <like [likescount]="post.likesCount" [isactive]="post.isLiked"></like>   /*the DOM property isActive is bind to the property of the component   -->     

 <!--<custom-pipes></custom-pipes> -->
  <!-- <app-posts></app-posts>  -->
 <!-- <app-demo></app-demo> -->
<!--<zippy title="Shopping Details">
    Shopping Details Content
</zippy> -->
<!-- <contact-form></contact-form> --> 
<!-- <course-form></course-form>  -->
 <!-- <signup-form></signup-form> -->
<!-- <newcourse-form></newcourse-form> -->
<!-- <change-password></change-password> 
<github-followers></github-followers> 

<navbar></navbar> 
<router-outlet></router-outlet> -->
<item-master></item-master>   





  